<h1 style="line-height: 1">API only, send a post request with following params</h1>

<p>triangle:{ side_1, side2, side3 }</p>
<p><b>Example:</b> http POST localhost:3000/triangle triangle:='[3, 3, 3]'</p>