<h1 style="text-align: center;">Create a new post!</h1>
<div class="d-flex justify-content-center">
	<div class="bg-light col-md-6" style="padding: 20px">
		<%= render 'form', post: @post %>
	</div>
</div>