@import "bootstrap";

body {
	margin-top: 20px;
}

nav {
	margin-bottom: 20px;
}

#post-card {
	margin-bottom: 20px;
}

#fill-in {
	padding-left: 50px;
	padding-right: 50px;
}

#new-post-btn {
	float: right;
}

#margin-b-10 {
	margin-bottom: 20px;
}

#add-margin {
	border-radius: 5px;
	margin-right: 20px;
}